.app-header{
    border-bottom: 1px solid gray;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .app-header-logo{
    height: 150px;
  
  }